@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --header: rgb(255, 91, 145);
    --left: rgb(171, 162, 252);
    --right: rgb(211, 136, 255);
    --footer: rgb(67, 227, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}

header {
    width: 100%;
    background-color: var(--header);
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}



.main-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 60%;
    background-color: #fff;
    height: 75vh;
}

aside {
    width: 25%;
    height: 75vh;
}

.left {
    background-color: var(--left);
    height: 75vh;
}

.right {
    background-color: var(--right);
    height: 75vh;
}

.site-footer {
    width: 100%;
    background-color: var(--footer);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        flex-wrap: wrap;
    }

    .main {
        order: -1;
        width: 100%;
        height: 40vh;
    }

    .left, .right {
        width: 50%;
        height: 40vh;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    .main-section {
        flex-direction: column;
    }

    header {
        height: 20vh;
    }

    .main {
        order: -1;
        width: 100%;;
        height: 20vh;
    }

    .left, .right {
        width: 100%;;
        height: 20vh;
        flex-direction: row;
    }

    .site-footer {
        width: 100%;;
        height: 20vh;
    }
}